<div class="bg">
    <section class="listing-promo">
  <div class="listing-overlay">
    <h2>Learn more about our listing process, as well as our additional staging and design work.</h2>
    <button class="learn-more">Learn More</button>
  </div>
</section>

<footer class="footer">
  <div class="footer-top">
    <nav>
      <a href="#">Home</a>
      <a href="#">Services</a>
      <a href="#">Projects</a>
      <a href="#">Testimonials</a>
      <a href="#">Contact</a>
      <span>Subscribe to:</span>
      <input type="email" placeholder="Enter Email Address">
      <button class="subscribe">Subscribe</button>
    </nav>
  </div>
  <div class="footer-bottom">
    <span>&copy; All rights reserved 2025</span>
     <div class="logo"><img src="assets/img/logo.svg" alt=""></div>
    <div class="social-icons">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-linkedin"></i>
    </div>
  </div>
</footer>
</div>
